*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}
